{% extends 'base.html.twig' %}

{# this tag only applies to the forms defined in this template #}
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}
{% block title %} Create Article | {{ parent() }} {% endblock %}

{% block body %}
	<h1>Articles HUB</h1>
    {{form_start(formArticle)}}
    
    {#{{ form_widget(formArticle) }}#}

    {{ form_row(formArticle.title, { "attr" : { "placeholder": "Title of the article" }} ) }}
    {{ form_row(formArticle.content,{"attr" : {"placeholder":"Content of the article"}} ) }}
    {{ form_row(formArticle.image,{"attr" : {"placeholder":"URL of the Image "}} ) }}

    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Save
        {% else %}
            Add article
        {% endif  %}
    </button>

    {{ form_end(formArticle)}}
{% endblock  %}
