{% extends 'base.html.twig' %}

{% block title %} Articles | {{ parent() }} {% endblock %}

{% block body %}

    <div class="d-flex flex-wrap">

    {% for article in articles %}
        <div class="col-sm-4 my-4">
            <div class="card text-white border-primary rounded shadow-sm " >

                <h6 class="card-header text-warning">{{article.title |slice(0, 25 )}}</h6>

                <img src="{{article.Image}}" alt="{{article.title}}" 
                class="d-block user-select-none"
                width="100%" height="150px"  />

                <div class="card-body">
                    <p class="card-text text-primary">{{article.content |slice(0, 67) | raw}} . . .</p>
                </div>
                
                <div class="card-body">
                    <a href="{{ path('blog_show',{'id':article.id})}}" 
                    class="btn btn-outline-primary card-link">Read</a>
                </div>

                <div class="card-footer text-muted">
                    Added in {{article.createdAt | date('d/m/y')}} at {{article.createdAt | date('H:i')}}
                </div>
                
            </div>

        </div>
    {% endfor %}

</div>


{% endblock %}